@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Juan David Vargas</h1>
    <p>Prueba Tecnica - Desarrollador Junior</p>
    <p>ONELINK</p> <img src="~/icon.png">

</div>
